
.text-area{
  margin-top: 80px;
  font-size: 18px;
}

.comment-container{
  width: 100%;
  margin-top: 100px;
}

.comment-field{
  border: 1px solid black;
  padding: 20px;
  height: 300px;
  overflow: scroll;
}

.btn-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cmt-btn{
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: goldenrod;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 16px;
}
